html{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
  background-color: rgb(203, 231, 255);
}

#top-text{
  position: relative;
  left: 1rem;
  top: 3rem;
}
.searchBar{
  position: fixed;
  right: 12.5%;
  top: 7rem;
  height: 1.5rem;

}
.searchBar button{
  height: 1.75rem;
}

.searchBar input[type=text] {
  background-color: white;
  background-image: url('/Users/markhrytchak/Documents/codecademy/e-commerce/frontend/src/searchicon.png');
  padding-left: 40px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  height: 2rem;
}

.about{
  align-items: center;
  font-family: 'Inter', sans-serif;
  width: 80%;
}


header{
  background-color:rgb(104, 181, 249);
  position: fixed;
  width: 100%;
  height: 10rem;
  top:0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid black;
  border-radius: 3%;
}

.account{
  position: fixed;
  right: 1%;
  top: 0.01%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.login{
  background-color: rgb(10, 215, 17);
  color: white;
  border: none;
  text-align: center;
}

.login:hover{
  background-color:  rgb(9, 150, 14);
}

.account button{
  margin: 3px;
  width: 4rem;
  height: 1.3rem;
}

.login-page{
  display: flex;
  justify-content: center;
}

.login-form{
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
}

.login-form h1{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: flex-end;
}

.login-form ul{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-inline-start: 0;
  list-style: none;
}

.login-form li{
  margin: 1rem;
  text-align: center;
}

.login-form button{
  grid-row-start: 3;
  grid-column-start: 2;
  width: 40%;
  height: 40%;
  align-self: center;
  justify-self: center;
  background-color: rgb(236, 221, 221);
  border-radius: 20%;
  border: 1px;
  font-size: large;
}

.login-form button:hover{
  background-color: rgb(153, 149, 149);
}
.login-form p{
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: flex-end;
  justify-self: center;
}

.login-form a{
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: flex-start;
  justify-self: center;
}

.registration-form{
  background-color: rgb(121, 153, 233); 
  border: 1px rgb(183, 183, 238) solid; 
  display: inline-grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  padding-inline-start: 0;
}


.registration-form li{
  color: aliceblue;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  margin: 1rem;
  justify-self: center;
  text-align: center;
  list-style: none;
}

.registration-form p{
  grid-row-start: 7;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: center;
  justify-self: center;
}

.registration-form a{
  grid-row-start: 8;
  grid-column-start: 3;
  align-self:flex-start;
  justify-self: center;
}
.registration-form h1{
  grid-row-start: 1;
  grid-column-start: 3;
  align-self: center;
  justify-self: center;
}

.register-page{
display: flex;
justify-content: center;
}

.register-page form{
  display: flex;
  justify-content: center;
  }

.registration-form button{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  width: 50%;
  height: 50%;
  justify-self: center;
  background-color: rgb(255, 255, 82);
  border-radius: 20%;
  font-size: large;
}

.registration-form button:hover{
  background-color:rgb(161, 161, 41);
}

.register{
  background-color: rgb(255, 59, 59);
  color: white;
  border: none;
  text-align: center;
}

.register:hover{
  background-color: rgb(165, 14, 14);
}

.verify-email{
  text-align: center;
  height: 20rem;
}

.verify-email form{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.verify-email label{
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: large;
  align-self: flex-end;
}

.verify-email #code{
  grid-column-start: 2;
  grid-row-start: 2;
  width: 80%;
  height: 30%;
  align-self: center;
  justify-self: center;
  border: 1.3px solid black;
  border-radius: 5%;
}

input[type=number]:focus {
  border: 3px solid #555;
  padding: 3px;
}

.verify-email button{
  grid-column-start: 2;
  grid-row-start: 3;
  width: 50%;
  height: 40%;
  align-self: flex-start;
  justify-self: center;
}

.element{
  position: relative;
  top: 12rem;
  left: 5%;
  width: 90%;
  right: 5%;
}

.product ul{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.product h1{
  text-align: center;
}

.product li{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 1px;
  margin: 1rem;
  height: 15rem;
  width: 10rem;
  background-color: beige;
  padding: 3px;
  border-radius: 2%;
  justify-content: space-evenly ;
}

.product li:hover{
  background-color:rgb(180, 180, 148) ;
  padding: 10px;
}

.product .link{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  text-align: center;
}
.product button{
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 5;
}

.product-image{
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: white;
  height: 100%;
  width: 100%;
  object-fit:scale-down;
}

.navbar{
  background-color:rgb(34, 105, 193);
  width: 100%;
  height: 1.2rem;
  position: fixed;
  top: -1rem;
  padding: 0.5rem;
  border: solid 1px blue;
}
.productpage{
  position: relative;
}
.navbar li{
  display: inline;
  color: aliceblue;;
  margin-right: 15px;
}
.navbar a:visited{
  color:rgb(177, 207, 234);
}
.navbar a{
  color:rgb(177, 207, 234);
}
.navbar a:hover{
  color:darkgrey;
}

.categories h1{
  text-align: center;
}

.categories ul{
  padding-inline-start: 0;
  text-align: center;
}

.categories li{
  list-style: none;
  margin: 2rem;
  font-size: large;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  color:rgb(48, 225, 225);
}

.categories a:hover{
  color:rgb(53, 198, 198);
}

.categories a:visited{
  color:rgb(132, 161, 248);
}

.account-page ul{
  padding-inline-start: 0;
  text-align: center;
}

.account-page h2{
  text-align: center;
}
.account-page h1{
  text-align: center;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

.account-page  a:visited{
  color:rgb(0, 0, 0);
}

.account-page li{
  list-style: none;
  margin: 2rem;
  font-size: large;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  color:rgb(0, 0, 0);
}

.account-info{
  text-align: center;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  width:100%;
}

.account-info h1{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
}

.account-info ul{
  grid-row-start: 2;
  grid-column-start: 3;
  justify-self: center;
  align-self: center;

}

.account-info li{
  list-style: none;
  margin: 2rem;
  font-size: large;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  color:rgb(0, 0, 0);
}

.orders li{
  list-style: none;
  border-bottom: #555 solid 1px;
}
.orders a{
  color: black;
}

.order-page li{
  list-style: none;
  margin:2rem;
  font-size: medium;
}


@media (max-width: 390) {
  #search{
    width: 1rem;
  }
  html {
    font-size: 7px;
  }
}


@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
  .welcome{
    display: block;
  }
  .searchBar{
    right: 1rem;
    top: 10rem;
  }
  .account{
    right:5rem;

  }
  .account button{
    font-size: x-small;
    margin: 3px;
    width: 5rem;
    height: 1.5em;
  }
  .searchBar input[type=text] {

    height: 4rem;
  }
  .searchBar button {

    height: 4rem;
  }
  .element{
    top:15rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 9px;
  }
  .account{
    right: 4rem;
    width: 1rem;
    top: 2rem;
  }
}

@media (min-width: 1350px) {
  html {
    font-size: 24px;
  }
  .account{
    right: 5%;
    width:10%;
  }
  .header{
    height: 10%;
  }
  .searchBar input[type=text] {

    height: 1.75rem;
  }
  
}